<Config>
    <Global>
        <Red>255</Red>
        <Green>255</Green>
        <Blue>255</Blue>
        <Font>Arial</Font>
        <FontSize>15</FontSize>
        <Transparency>255</Transparency>
        <ImageSource>C:\Code\BackgroundImagesEditor.git\img0.jpg</ImageSource>
        <ImageTarget>C:\Code\BackgroundImagesEditor.git\result.jpg</ImageTarget>
    </Global>
    <TextBlock>
        <XOffset>1300</XOffset>
        <YOffset>900</YOffset>
        <Text>This is a TextBlock Using Macros
[Domain]
[Hostname]
[Username]
[Manufacturer]
[Model]
        </Text>
    </TextBlock>
</Config>
<!-- 
Supported Macros

TODO
[IPAddress]
[SubNetMask]
[GateWay]

[Win10Release]

-->